:root {
    --color-background: #156e15;
    --color-background-box: #6aa36a;
    --color-background-button: #cfb663;
    --color-background-button-light: #d3bf80;
    --color-background-card: rgb(211, 205, 197);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

body {
    background: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
input,
button,
textarea {
    font: 500 1.6rem Poppins; /* Peso(font-weight) | Tamanho(font-size) | Fonte(font-family) */
    color: var(--color-text-base)
}


#container {
    width: 90vw;
    max-width: 700px;
}